<%- include("header"); -%>


<h2>THis is about page </h2>
<p> and here  i will practice my typing test to knoew how fast i can type uhfenajdfa aojf ne asfj uapf</p>

<%- include("footer"); -%>
